<%= error_messages_for :page %>

<% form_for(:help, :url => help_path({ :id => @page.title_for_url }), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'pages/page_form' %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<% content_for :sidebar do -%>
  <%= show_help_link(@page) unless @page.title == 'HomePage' -%><br />
<% end -%>