<h1>Editing discussion</h1>

<%= error_messages_for :discussion %>

<% form_for(:discussion, :url => discussion_path(@discussion), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>