<h1>Listing discussions</h1>

<table>
  <tr>
  </tr>
  
<% for discussion in @discussions %>
  <tr>
    <td><%= link_to 'Show', discussion_path(discussion) %></td>
    <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
    <td><%= link_to 'Destroy', discussion_path(discussion), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New discussion', new_discussion_path %>