<% unless @wiki_pages.empty? -%>
<ul id="discussions">
<% for page in @wiki_pages -%>
  <li class="<%= page.owner_type.to_s.empty? ? '' : page.owner_type -%>">
    <%= link_to page.title, discussion_path(page) -%> (<%= page.discussions.size -%>)
  </li>
<% end %>
</ul>
<%= render :partial => 'shared/pagination_links' %>
<% end -%>
