<h1>New discussion</h1>

<%= error_messages_for :discussion %>

<% form_for(:discussion, :url => discussions_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', discussions_path %>