<%= render :partial => 'pages/page' %>

<ol id="comments" class="comments">
  <%= render :partial => 'discussion', :collection => @discussions %>
</ol>

<%= render :partial => 'shared/pagination_links' %>

<% if @page.allow_discussions? -%>
  <%= render :partial => 'discussion_form' %>
<% end -%>

<% content_for 'sidebar' do -%>
  <%= page_or_parent_link(@page) -%><br />
<% end -%>

<% content_for :auto_discoveries do -%>
  <%= auto_discovery_link_tag :rss, { :format => :rss } %>
<% end -%>