<div id="page_container">
<h1><%= link_to_page(@page) -%></h1>
<div class="page_container_content">
<%= @page.html %>
</div>
<div class="page_container_controls">
Current Version: <%= @page.version %>
</div>
</div>
