<h1>Editing page</h1>

<%= error_messages_for :page %>

<% form_for(:page, :url => page_path({ :id => @page.title_for_url }), :html => { :method => :put }) do |f| %>
<%= render :partial => 'page_form' %>
<p>
  <%= submit_tag "Update" %>
</p>
<% end %>

<% content_for :sidebar do -%>
  <%= link_to 'Show', page_path({ :id => @page.title_for_url }) %><br />
  <%= link_to 'Browse Pages', pages_path %><br />
<% end -%>
