<%= render :partial => 'page' -%>

<% unless @wiki_pages.empty? -%>
  <div class="hentry">
  <ul>
    <%= @wiki_pages.collect { |x| "<li>#{show_page_link(x, x.title)}</li>" } %>
  </ul>
  <%= render :partial => 'shared/pagination_links' %>
  </div>
<% end -%>

<% content_for :sidebar do -%>
  <%= edit_page_link(@page) -%><br />
  <%= new_page_link -%><br />
  <%= render :partial => 'shared/tag_cloud' %>
<% end -%>
