<h1>New page</h1>

<%= error_messages_for :page %>

<% form_for(:page, :url => pages_path) do |f| %>
<p>
  <label for="page_title">Title</label> <%= text_field 'page', 'title' %>
</p>
<%= render :partial => 'page_form' %>
<p>
  <%= submit_tag "Create" %>
</p>
<% end %>

<% content_for :sidebar do -%>
  <%= link_to 'Browse Pages', pages_path %><br />
<% end -%>