<% if @styles.empty? -%>
<ul><li>No styles found.</li></ul>
<% else -%>
<ol><%= @styles.collect { |s| '<li>' + link_to(s.title, style_path(:id => s.page.title_for_url)) + '</li>' } %></ol>
<% end -%>

<% content_for :sidebar do -%>
  <%= new_style_link -%><br />
  <%= render :partial => 'shared/tag_cloud' %>
<% end -%>
