<%= render :partial => 'pages/page' %>

<% unless @style.children.empty? -%>
<h2>Styles under this category</h2>
<ol><%= @style.children.collect { |x| '<li>' + show_style_link(x) + '</li>' } -%></ol>
<% end -%>

<% content_for :sidebar do -%>
  <%= new_style_link -%><br />
  <%= edit_style_link(@style) -%><br />
  <%= link_to 'Destroy', style_path(@style), :confirm => 'Are you sure?', :method => :delete -%><br />
<% end -%>