<%= error_messages_for :brewery %>

<% form_for(:brewery, :url => brewery_path(@brewery), :html => { :method => :put }) do |f| %>
<%= render :partial => 'brewery_form' %>
<p>
  <%= submit_tag "Update" %>
</p>
<% end %>

<% content_for :sidebar do -%>
  <%= link_to 'New Brewery', new_brewery_path -%><br />
  <%= link_to 'Show', brewery_path(@brewery) -%><br />
<% end -%>
