<ul>
<% for brewery in @breweries %><li><%= show_brewery_link(brewery) -%></li><% end -%>
</ul>

<%= render :partial => 'shared/pagination_links' %>

<% content_for :sidebar do -%>
  <%= link_to 'New brewery', new_brewery_path -%><br />
  <%= render :partial => 'shared/tag_cloud' %>
<% end -%>
