<h1><%= @brewery.title -%></h1>

<div id="attributes">
  <ul>
    <li>Available Beers: <%= @brewery.beers.size -%></li>
  </ul>
</div>

<%= @page.html %>

<div id="related_links">
  <%= link_to 'Edit', edit_brewery_path(@brewery.page.title_for_url) %> |
  <%= link_to 'Breweries', breweries_path %>
</div>
