<%= render :partial => 'pages/page' %>

<% content_for :sidebar do -%>
  <%= link_to 'New Brewery', new_brewery_path -%><br />
  <%= link_to 'Edit', edit_brewery_path(@brewery.page.title_for_url) -%><br />
<% end -%>
