<p>
  <label for="beer_title">Title</label> <%= text_field 'beer', 'title' %>
</p>
<p>
  <label for="beer_abv">ABV</label> <%= text_field 'beer', 'abv' %>
</p>
<p>
  <label for="beer_original_gravity">Original Gravity</label> <%= text_field 'beer', 'original_gravity' %>
</p>
<p>
  <label for="beer_final_gravity">Final Gravity</label> <%= text_field 'beer', 'final_gravity' %>
</p>
<%= render :partial => 'pages/page_form' %>
