<%= error_messages_for :beer %>

<% form_for(:beer, :url => beer_path(@beer.page.title_for_url), :html => { :method => :put }) do |f| %>
<%= render :partial => 'beer_form' %>
<p>
  <%= submit_tag "Update" %>
</p>
<% end -%>

<% content_for :sidebar do -%>
  <%= link_to 'New Beer', new_beer_path -%><br />
  <%= link_to 'Show', beer_path(@beer.page.title_for_url) -%><br />
<% end -%>
