<%= error_messages_for :beer %>

<% form_for(:beer, :url => beer_path(@beer.page.title_for_url), :html => { :method => :put }) do |f| %>
<%= render :partial => 'beer_form' %>
<p>
  <%= submit_tag "Update" %>
</p>
<% end -%>

<% content_for :sidebar do -%>
  <%= new_beer_link -%><br />
  <%= show_beer_link(@beer) -%><br />
<% end -%>
