<ul>
<% unless @beers.empty? -%>
<% for beer in @beers %><li><%= link_to beer.title, beer_path(beer.page.title_for_url) %></li><% else -%>
<li>No beers, yet</li>
<% end -%>
</ul>

<%= render :partial => 'shared/pagination_links' %>

<% content_for :sidebar do -%>
  <%= link_to "New Beer", new_beer_path, { :title => 'Create a new beer' } -%><br />
  <%= render :partial => 'shared/tag_cloud' %>
<% end -%>
