<%= error_messages_for :beer %>

<% form_for(:beer, :url => beers_path, :html => { :method => :post }) do |f| %>
<%= render :partial => 'beer_form' %>
<p>
  <%= submit_tag "Create" %>
</p>
<% end -%>
