<h1>Editing images</h1>

<%= error_messages_for :images %>

<% form_for(:images, :url => images_path(@images), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', images_path(@images) %> |
<%= link_to 'Back', images_path %>