<%= error_messages_for :people %>

<% form_for(:people, :url => people_path(@people.page.title_for_url), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'people_form' %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<% content_for :sidebar do -%>
  <%= new_people_link %><br />
  <%= show_people_link(@people) %><br />
<% end -%>