<ul>
<% for people in @peoples -%><li><%= show_people_link(people) -%></li><% end %>
</ul>

<%= render :partial => 'shared/pagination_links' %>

<% content_for :sidebar do -%>
  <%= new_people_link %><br />
  <%= render :partial => 'shared/tag_cloud' %>
<% end -%>

<% content_for :auto_discoveries do -%>
  <%= auto_discovery_link_tag :rss, { :format => :rss } %>
<% end -%>